<!doctype html>
<html ng-app="mpgApp">
<head>
  <title>mpg</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
  <script src="app.js"></script>
  <script src="factories/trip.js"></script>
  <script src="controllers/app.controller.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href="assets/styles/mpg.main.css" rel="stylesheet"/>
</head>
<body ng-controller="mpgCtrl">
  <header></header>

  <section id="user-input">
    <form name="dataForm" ng-submit="updateData( newCar )" class="form" novalidate>
      <div class="form-group">
        <input class="data-input" ng-model="miles" type="number" placeholder="miles" required/>
        <label for="miles">Miles</label>
      </div>
      <div class="form-group">
        <input class="data-input" ng-model="gallons" type="number" placeholder="gallons" required/>
        <label for="gallons">Gallons</label>
      </div>
      <div class="form-group select-group">
        <div class="add-car-input">
          <input ng-model="newCar" type="text" placeholder="add your car" required/>
          <label for="car">Car</label>
        </div>
      </div>
      <button type="submit" ng-disabled="dataForm.$invalid">Get MPG</button>
    </form>
  </section>

  <section id="user-results">
    <div id="current-result">
      <h1>{{trip.mpg}} Average MPG</h1>
    </div>
    <div class="select-input">
      <label>Select a car</label>
      <select ng-model="carFilter.cars">
        <option ng-repeat="trip in trips | unique: 'cars' track by $index">{{trip.cars}}</option>
      </select>
    </div>
    <div class="results" ng-repeat="trip in trips | filter:carFilter track by $index ">
      <div class="dates result-cont">
        <h3>Date</h3>
        <p>{{trip.dates}}</p>
      </div>
      <div class="mpg result-cont">
        <h3>Miles Per Gallon</h3>
        <p>{{trip.mpg}}</p>
      </div>
      <div class="cars result-cont">
        <h3>Car</h3>
        <p>{{trip.cars}}</p>
      </div>
    </div>
  </section>

</body>
</html>
