<div class="outer-wrapper car-view">
  <div class="inner-wrapper">
    <h1>{{car.model}}</h1>
    <ul>
      <li><strong>Brand</strong>: {{car.brand}}</li>
      <li><strong>Year</strong>: {{car.year}}</li>
      <li><strong>Average MPG</strong>: {{car.avg}}</li>
    </ul>
  </div>

  <div class="inner-wrapper">
    <form ng-submit="submit()" class="form">
      <div class="form-group">
        <label for="miles">Miles</label>
        <input type="text" class="text-input" ng-model="miles" required/>
      </div>
      <div class="form-group">
        <label for="gallons">Gallons</label>
        <input type="text" class="text-input" ng-model="gallons" required/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn submit-btn">Submit</button>
      </div>
    </form>

    <div class="content-container">
      <div class="car-list" ng-repeat="record in user.details.record | filter: car.model | orderBy: 'record.time': true">
        <p>Date: {{record.time | date: 'short'}}</p>
        <p>Mpg: {{record.mpg}}</p>
        <p>Miles: {{record.miles}}</p>
        <p>Gallons: {{record.gallons}}</p>
        <button ng-click="remove(record._id)" class="delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
