<h3>Login</h3>
<form action="/api/login" method="post" class="form login-form">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="text-input" name="email" required/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="text-input" name="password" required/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn submit-btn">Submit</button>
  </div>
</form>
<div class="signup-link">
  <a href="/signup" class="btn btn-link">or Sign Up</a>
</div>
