<div class="inner-wrapper signup">
  <div class="content">
    <p>MyMpg is a tool that helps you keep track of your mileage. You can add multiple cars, and see individual records and your car averages.</p>
    <p>Join up and see how your car performs!</p>
  </div>
  <form action="/api/signup" method="post" class="form signup-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="text-input" name="email" placeholder="add your email address" required/>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="text-input" name="username" placeholder="add your username" required/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="text-input" name="password" placeholder="enter your password" min-length="8" required/>
    </div>
    <div class="form-group flex-center">
      <button type="submit" class="btn submit-btn">Submit</button>
      <a href="/login" class="btn btn-link">or Log In</a>
    </div>
  </form>
</div>
