// vars
$full: 100%;
$half: 50%;
$font: 20px;
$dark-grey: #2A2E30;
$mid-grey: #3E4447;
$white: #EDEBE4;
$dark-red: #A43233;
$red: #C23A3B;
$side-margins: .5rem;
$nav-height: 2.6em;
$center: 0 auto;

// mixins
@mixin flex {
  -webkit-display: flexbox;
  display: flex;
}

@mixin strip {
    margin: 0;
    padding: 0;
}

// Global Elements, formatting
html, body {
  width: $full;
  margin: 0;
}

body {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: $font;
  background-color: $white;
}

h1 {
  font-size: $font * 2;
  @include strip;
}

h2 {
  font-size: $font * 1.5;
  @include strip;
}

h3 {
  font-size: $font * 1.2;
  @include strip;
}

h4 {
  font-size: $font * 1.1;
  @include strip;
}

ul {
  list-style-type: none;
  @include strip;
}

p {
  @include strip;
}

// login links
.login-link {
  height: 2em;
}
