// vars
$full: 100%;
$half: 50%;
$font: 20px;
$dark-grey: #2A2E30;
$grey: #3E4447;
$white: #EDEBE4;
$dark-red: #A43233;
$red: #C23A3B;
$side-margins: .5rem;
$content-margins: 1em .5em .5em;
$nav-height: 2.6em;
$center: 0 auto;
$desktop: 1024px;
$tablet: 768px;
$shadows: 1px 3px 10px 0px #000;
$border-radius: 5px;

// mixins
@mixin flex {
  -webkit-display: flexbox;
  display: flex;
}

@mixin strip {
    margin: 0;
    padding: 0;
}

@mixin btnTransition {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

// media queries
// viewports
// tablets/phones
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
// desktop
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// retina

// Global Elements, formatting
html, body {
  width: $full;
  height: $full;
  max-height: $full;
  //overflow: hidden;
  margin: 0;
}

body {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: $font;
  //background-color: $dark-grey;
  background: url('../images/pch_orig.jpg') no-repeat;
  background-size: cover;
  color: $dark-grey;
}

h1 {
  font-size: $font * 2;
  @include strip;
}

h2 {
  font-size: $font * 1.5;
  @include strip;
}

h3 {
  font-size: $font * 1.2;
  @include strip;
}

h4 {
  font-size: $font * 1.1;
  @include strip;
}

ul {
  list-style-type: none;
  @include strip;
}

p {
  @include strip;
  line-height: 1.5;
}

a {
  color: $dark-grey;
  text-decoration: none;
  @include btnTransition;
  &:hover {
    text-decoration: underline;
  }
}

label {
  //text-shadow: 2px 1px 3px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: $shadows;
  border-radius: $border-radius;
  border: none;
  &:focus {
    outline: none;
    border: 1px solid $dark-red;
  }
}


// login links
.login-link {
  height: 2em;
}

// main container - all views are displayed within this containing element
.container {
  height: $full;
  position: relative;
  top: 2.6em;
  width: $full;
  .outer-wrapper {
    width: $full;
  }
  .inner-wrapper {
    max-width: 700px;
    margin: $center;
    background-color: rgba(237, 235, 228, 0.8);
    border-radius: $border-radius;
    position: relative;
    top: 2em;
    border: 2px solid $white;
    box-shadow: $shadows;
  }
  .content {
    padding: 2em .5em;
    p {
      margin: 0 2em;
    }
  }
  .content-container {
    background: $grey;
    padding: 1em;
    height: 50vh;
    max-width: 700px;
    overflow-y: scroll;
    border: 1px solid $white;
    border-radius: $border-radius;
  }
}

// modal windows
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: $full;
  width: $full;
  z-index: 10;
  background-color: rgba(42, 46, 48, .8);
  .modal-inner {
    background: $white;
    color: $dark-grey;
    opacity: none;
    position: relative;
    top: 4em;
    z-index: 12;
    height: $full;
    box-shadow: 1px 1px 20px 0px #000;
    height: 50vh;
    .close-modal {
      height: 3em;
      span.btn {
        float: right;
        height: 1em;
        margin: .5em;
      }
    }
  }
}
