// vars
$full: 100%;
$half: 50%;
$font: 20px;
$dark-grey: #2A2E30;
$grey: #3E4447;
$white: #EDEBE4;
$dark-red: #A43233;
$red: #C23A3B;
$side-margins: .5rem;
$content-margins: 1em .5em .5em;
$nav-height: 2.6em;
$center: 0 auto;

// mixins
@mixin flex {
  -webkit-display: flexbox;
  display: flex;
}

@mixin strip {
    margin: 0;
    padding: 0;
}

@mixin btnTransition {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

// Global Elements, formatting
html, body {
  width: $full;
  height: $full;
  max-height: $full;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: $font;
  background-color: $white;
}

h1 {
  font-size: $font * 2;
  @include strip;
}

h2 {
  font-size: $font * 1.5;
  @include strip;
}

h3 {
  font-size: $font * 1.2;
  @include strip;
}

h4 {
  font-size: $font * 1.1;
  @include strip;
}

ul {
  list-style-type: none;
  @include strip;
}

p {
  @include strip;
}

a {
  color: $dark-grey;
  text-decoration: none;
  @include btnTransition;
  &:hover {
    text-decoration: underline;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  &:focus {
    outline: none;
  }
}


// login links
.login-link {
  height: 2em;
}

// main container - all views are displayed within this containing element
.container {
  height: $full;
  position: relative;
  top: 2.6em;
  width: $full;
  .inner-wrapper {
    max-width: 700px;
    margin: $center;
  }
}

// modal windows
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: $full;
  width: $full;
  z-index: 10;
  background-color: $grey;
  opacity: .8;
  .modal-inner {
    background: $dark-grey;
    color: $white;
    opacity: none;
    position: relative;
    z-index: 12;
    height: $full;
    .close-modal {
      height: 3em;
      span.btn {
        float: right;
        height: 1em;
        margin: .5em;
      }
    }
  }
}
