.btn {
  height: 2em;
  margin: .5em auto;
  font-size: 1.2em;
  padding: 0 0.5em;
  background-color: $dark-red;
  border-radius: 3px;
  border: 2px solid $dark-red;
  color: $white;
  line-height: 1;
  @include btnTransition;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $red;
  }
  &.menu-button {
    float: right;
    width: 2em;
    height: $full;
    margin: 0;
    background-color: $grey;
    border: none;
  }
  &.submit-btn {
    display: block;
    margin: 0.5em 0.5em 0.5em auto;
  }
  &.btn-link {
    text-align: center;
    margin: 0.5em auto 0.5em 0.5em;
  }
}

.btn-link {
  font-size: 1.1em;
  line-height: 2;
}
