.btn {
  height: 2em;
  margin: .5em auto;
  font-size: 1.2em;
  padding: 0 0.5em;
  background-color: $dark-red;
  border-radius: 3px;
  border: 2px solid $dark-red;
  color: $white;
  line-height: 1;
  @include btnTransition;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    background-color: $red;
  }
  &.menu-button {
    width: $third;
    height: $full;
    margin: 0;
    margin-left: auto;
    background-color: $grey;
    border: none;
  }
  &.submit-btn {
    display: block;
    // submit button to be placed above the .btn-link in dom tree,
    // floats to the right side of the center of the viewport
    margin: 0.5em 0.5em 0.5em auto;
  }
  &.btn-link {
    text-align: center;
    // floats to the left side of the center of the viewport
    margin: 0.5em auto 0.5em 0.5em;
  }
}

.btn-link {
  font-size: 1.1em;
  line-height: 2;
}
