.car-view {
  h1 {
    padding: .3em;
  }
  .content-container {
    max-height: 30vh;
    overflow-y: scroll;
    .car-list {
      @include flex;
      p {
        margin: .5em;
        color: $white;
        font-size: .9em;
      }
      .delete-btn {
        margin-left: auto;
      }
    }
  }
}

.car-view {
  .car-details {
    margin-top: 1em;
    @include flex;
    .detail-list {
      margin-left: auto;
      li {
        padding: .5em 3em .5em 0;
      }
    }
  }
}
