// FORMS =======================================================================
.form {
  width: $full;
  margin: auto;
  .form-group {
    margin: 1em;
    label {
      display: inline-block;
      padding: .2em .5em;
      width: 21.5%;
      text-align: right;
    }
    .text-input {
      font-size: 1.2em;
      padding: .2em;
      width: 50%;
    }
  }
}
