// FORMS =======================================================================
.form {
  width: $full * 0.9;
  margin: auto;
  max-width: $full * 0.6;
  .form-group {
    margin: 1em;
    label {
      display: inline-block;
      padding: .2em 0 .2em .5em;
      width: 22.5%;
      text-align: right;
    }
    .text-input {
      font-size: 1.2em;
      padding: .1em;
      width: 50%;
    }
  }
}
