// GLOBAL HEADER
.global-header {
  width: inherit;
  height: $nav-height;
  background-color: $grey;
  position: absolute;
  z-index: 20;
  border-bottom: 1px solid $white;
  @include flex;
  -webkit-flex-wrap: row-wrap;
  flex-wrap: row-wrap;
  .home-icon {
    width: $third;
  }
  // nav elements, which float beneath header row
  nav {
    position: relative;
    z-index: 21;
    width: 300px;
    float: right;
    clear: both;
    ul, a {
      color: $white;
    }
    ul {
      position: relative;
      color: $white;
      background-color: $grey;
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
      li {
        padding: .5em 0;
        margin: 0 $side-margins;
        border-bottom: 2px solid #555;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
    &.desktop-nav {
      height: 0px;
      overflow: hidden;
      position: relative;
      z-index: 15;
      top: 1.65em;
      -webkit-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      &.opened {
        height: 8em;
      }
    }
    &.mobile-nav {
      display: none;
    }
  }
  h1 {
    margin-left: $side-margins;
    color: $white;
    display: inline-block;
  }
}
