@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  margin: 0; }

body {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 20px;
  background-color: #EDEBE4; }

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 30px;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 24px;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 22px;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  color: #2A2E30;
  text-decoration: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  a:hover {
    text-decoration: underline; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none; }

.login-link {
  height: 2em; }

.container {
  height: 100%;
  position: relative;
  top: 2.6em;
  width: 100%; }
  .container .inner-wrapper {
    max-width: 700px;
    margin: 0 auto; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: #3E4447;
  opacity: .8; }
  .modal .modal-inner {
    background: #2A2E30;
    color: #EDEBE4;
    opacity: none;
    position: relative;
    z-index: 12;
    height: 100%; }
    .modal .modal-inner .close-modal {
      height: 3em; }
      .modal .modal-inner .close-modal span.btn {
        float: right;
        height: 1em;
        margin: .5em; }

.btn {
  height: 2em;
  margin: .5em auto;
  font-size: 1.2em;
  padding: .2em .5em;
  background-color: #EDEBE4;
  border-radius: 3px;
  border: 2px solid #A43233;
  color: #A43233;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    cursor: pointer;
    background-color: #C23A3B;
    color: #EDEBE4; }
  .btn.menu-button {
    float: right;
    width: 2em;
    height: 100%;
    margin: 0; }
  .btn.submit-btn, .btn.btn-link {
    width: 50%;
    display: block;
    margin: 0 auto; }
  .btn.btn-link {
    text-align: center; }

.global-header {
  width: inherit;
  height: 2.6em;
  background-color: #2A2E30;
  position: absolute;
  z-index: 1; }
  .global-header nav {
    position: relative;
    z-index: 3;
    width: 300px;
    float: right;
    clear: both; }
    .global-header nav ul, .global-header nav a {
      color: #EDEBE4; }
    .global-header nav ul {
      position: relative;
      color: #EDEBE4;
      background-color: #2A2E30; }
      .global-header nav ul li {
        padding: .5em 0;
        margin: 0 0.5rem;
        border-bottom: 2px solid #555; }
        .global-header nav ul li:first-child {
          margin-top: 0; }
        .global-header nav ul li:last-child {
          border-bottom: none; }
    .global-header nav.desktop-nav {
      height: 50px;
      position: relative;
      z-index: 15; }
    .global-header nav.mobile-nav {
      display: none; }
  .global-header h1 {
    margin-left: 0.5rem;
    color: #EDEBE4;
    display: inline-block; }

.form {
  width: 90%;
  margin: auto; }
  .form .form-group {
    margin: 1em; }
    .form .form-group label {
      display: inline-block;
      padding: .2em 0 .2em .5em;
      width: 22.5%;
      text-align: right; }
    .form .form-group .text-input {
      font-size: 1.2em;
      padding: .1em;
      width: 50%; }

.profile .profile-content {
  background: #3E4447; }
  .profile .profile-content h4 {
    padding: 1em 0.5em 0.5em;
    color: #EDEBE4; }

.cars .delete-button {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
