@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
html, body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0; }

body {
  font-family: 'Oxygen', helvetica, sans-serif;
  font-size: 20px;
  background: url("../images/pch_orig.jpg") no-repeat;
  background-size: cover;
  color: #2A2E30; }

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0; }

h2 {
  font-size: 30px;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 24px;
  margin: 0;
  padding: 0; }

h4 {
  font-size: 22px;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a {
  color: #2A2E30;
  text-decoration: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  a:hover {
    text-decoration: underline; }

input[type="text"],
input[type="email"],
input[type="password"] {
  box-shadow: 1px 3px 10px 0px #000;
  border-radius: 5px;
  border: none; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
    border: 1px solid #A43233; }

.login-link {
  height: 2em; }

.container {
  height: 100%;
  position: relative;
  top: 2.6em;
  width: 100%; }
  .container .outer-wrapper {
    width: 100%; }
  .container .inner-wrapper {
    max-width: 700px;
    margin: 0 auto;
    background-color: rgba(237, 235, 228, 0.8);
    border-radius: 5px;
    position: relative;
    top: 2em;
    border: 2px solid #EDEBE4;
    box-shadow: 1px 3px 10px 0px #000; }
  .container .content {
    padding: 2em .5em; }
    .container .content p {
      margin: 0 2em; }
  .container .content-container {
    background: #3E4447;
    padding: 1em;
    height: 50vh;
    max-width: 700px;
    overflow-y: scroll;
    border: 1px solid #EDEBE4;
    border-radius: 5px; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(42, 46, 48, 0.8); }
  .modal .modal-inner {
    background: #EDEBE4;
    color: #2A2E30;
    opacity: none;
    position: relative;
    top: 4em;
    z-index: 12;
    height: 100%;
    box-shadow: 1px 1px 20px 0px #000;
    height: 50vh; }
    .modal .modal-inner .close-modal {
      height: 3em; }
      .modal .modal-inner .close-modal span.btn {
        float: right;
        height: 1em;
        margin: .5em; }

.btn {
  height: 2em;
  margin: .5em auto;
  font-size: 1.2em;
  padding: .2em .5em;
  background-color: #A43233;
  border-radius: 3px;
  border: 2px solid #A43233;
  color: #EDEBE4;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    cursor: pointer;
    background-color: #C23A3B; }
  .btn.menu-button {
    float: right;
    width: 2em;
    height: 100%;
    margin: 0;
    background-color: #3E4447;
    border: none; }
  .btn.submit-btn {
    width: 30%;
    display: block;
    margin: 0 auto; }
  .btn.btn-link {
    text-align: center; }

.global-header {
  width: inherit;
  height: 2.6em;
  background-color: #3E4447;
  position: absolute;
  z-index: 20;
  border-bottom: 1px solid #EDEBE4; }
  .global-header nav {
    position: relative;
    z-index: 21;
    width: 300px;
    float: right;
    clear: both; }
    .global-header nav ul, .global-header nav a {
      color: #EDEBE4; }
    .global-header nav ul {
      position: relative;
      color: #EDEBE4;
      background-color: #3E4447;
      border-left: 1px solid #EDEBE4;
      border-bottom: 1px solid #EDEBE4; }
      .global-header nav ul li {
        padding: .5em 0;
        margin: 0 0.5rem;
        border-bottom: 2px solid #555; }
        .global-header nav ul li:first-child {
          margin-top: 0; }
        .global-header nav ul li:last-child {
          border-bottom: none; }
    .global-header nav.desktop-nav {
      height: 50px;
      position: relative;
      z-index: 15; }
    .global-header nav.mobile-nav {
      display: none; }
  .global-header h1 {
    margin-left: 0.5rem;
    color: #EDEBE4;
    display: inline-block; }

.form {
  width: 100%;
  margin: auto; }
  .form .form-group {
    margin: 1em; }
    .form .form-group label {
      display: inline-block;
      padding: .2em .5em;
      width: 21.5%;
      text-align: right; }
    .form .form-group .text-input {
      font-size: 1.2em;
      padding: .2em;
      width: 50%; }

.car-view .content-container {
  max-height: 30vh;
  overflow-y: scroll; }
  .car-view .content-container .car-list {
    -webkit-display: flexbox;
    display: flex; }
    .car-view .content-container .car-list p {
      margin: 0 .5em;
      color: #EDEBE4; }
    .car-view .content-container .car-list .delete-btn {
      margin-left: auto; }

.car-view .car-details {
  margin-top: 1em;
  -webkit-display: flexbox;
  display: flex; }
  .car-view .car-details .detail-list {
    margin-left: auto; }

.profile {
  padding: 1em; }
  .profile .inner-wrapper {
    top: .5em; }
  .profile .profile-content h4 {
    padding: 1em 0.5em 0.5em;
    color: #2A2E30; }

.cars .content-container {
  width: 100%;
  margin: 0 auto; }
.cars .profile-btns {
  -webkit-display: flexbox;
  display: flex; }
.cars .profile-car {
  -webkit-display: flexbox;
  display: flex;
  margin: 1em 1em;
  padding: 1em;
  background-color: #C23A3B;
  border-radius: 5px;
  border: 2px solid #A43233; }
  .cars .profile-car .car-link {
    color: #EDEBE4;
    display: inline-block; }
  .cars .profile-car .delete-button {
    margin-left: auto;
    line-height: 1.2; }
    .cars .profile-car .delete-button .delete-btn {
      margin: 0 auto;
      height: 1.6em; }

/*# sourceMappingURL=main.css.map */
