// SECTION / VIEWS =============================================================

// PROFILE
.profile {
  background: $dark-grey;
  padding: 1em;
  .profile-content {
    h4 {
      padding: $content-margins;
      color: $white;
    }
  }
}

// CARS
.cars {
  .inner-wrapper {
    background: $grey;
    padding: 1em;
  }
  .car-link {
    color: $white;
  }
  .delete-button {
    display: inline-block;
  }
}
