// SECTION / VIEWS =============================================================

// PROFILE
.profile {
  .profile-content {
    background: $grey;
    h4 {
      padding: $content-margins;
      color: $white;
    }
  }
}

// CARS
.cars {
  .delete-button {
    display: inline-block;
  }
}
